body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}
.add-btn{
    background-color: rgb(220, 92, 69) !important;
    border: none !important;
}
.edit-btn{
    background-color: rgb(220, 92, 69) !important;
    border: none !important;
}

.navbar{
    height: 5rem !important;
   
}
.fa-solid{
    color: tomato;
    font-size: 2.5rem;
}
.nav-link{
    color: black !important;
}

/* Footer*/

.f-info-links a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info{

    text-align: center;
    background-color: rgb(245, 238, 229);
    height: 7rem;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: space-evenly;
    padding-bottom: 5px;
    padding-top: 5px;

}
.f-info-links,.f-info-social,.f-info-title{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.f-info-social i{
    font-size: 1.2rem;
    margin-right: 2rem;
}
/* cards*/
.card{
    border: none !important;
    margin-bottom: 2rem;

}
.card-img-top{
    width: 100% !important;
    border-radius: 1rem !important;
    object-fit: cover !important ;

}

.card-body{
    padding: 0 !important;
}
.card-text p{
    font-weight: 400 !important; 
    
}
.listing-link{
    text-decoration: none;
}
/*also use the overlay from bootstrap*/
@keyframes hop {
    to{transform: scale(1.02,1.02);}
}
@keyframes fade {
    to{opacity: 0.8;}
}

.listing-link {

  transition: transform 0.5s 0.5s, opacity 0.8s 0.5s;
}

.listing-link:hover {
  transform: scale(1.02);
  opacity: 0.8;
  transition-delay: 0s;
  transition-duration: 0.5s;
}

.show-img{
    height: 400px;
    transition: transform 0.5s 0.5s;

}
.show-img:hover{
    transform: scale(1.04,1.04);
    transition-duration: 0.5s;
    transition-delay: 0s;
    
   

    

}

.btns{
    display: flex;
    

}
.ed-btn{
    text-decoration: none;
    background-color: tomato;
    padding: 5px;
    color: white;
    border-radius: 4px;
    width: 80px;
    text-align: center;


}
.del-btn{
    background-color: rgb(10, 48, 91);
    padding: 5px;
    color: white;
    border-radius: 4px;
    width: 80px;
    text-align: center;
    border: none;

}